# FastAPI se añadirá en una fase posterior.
VITE_API_URL=http://localhost:8000

# Proveedor OpenID Connect del laboratorio.
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=uoit
VITE_KEYCLOAK_CLIENT_ID=sig-uoit-frontend
